<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="payroll" connectionString="Data Source=DESKTOP-D6RUSRD\SQLEXPRESS;Initial Catalog=emp_payroll;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="EmployeePayRollManagementSystem.Properties.Settings.emp_payrollConnectionString"
   connectionString="Data Source=DESKTOP-D6RUSRD\SQLEXPRESS;Initial Catalog=emp_payroll;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>